@import "assets/styles/abstract/index.scss";

.body {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 40px 0;

  @include tablet {
    padding: 40px;
  }
}

.content {
  align-self: center;
  position: relative;
}
