@import "assets/styles/abstract/index.scss";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $modal-background-color;
  padding: 16px;
  //border
  border: 10px solid $modal-border-color;
  border-radius: 10px;
  box-sizing: border-box;

  @include tablet {
    width: 684px;
    height: 364px;
  }
}

.content {
  align-self: center;
  text-align: center;
}
