@import "assets/styles/abstract/index.scss";

.footer {
  display: flex;
  justify-content: center;
  height: 56px;
  width: 100%;
}

.content {
  align-self: center;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: $footer-font-color;
  padding: 0 15px;

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
