/* -------------- */
/* --- Colors --- */
/* -------------- */
$white: #ffffff;
$gray: #a5a5a5;
$gray-darker: #878787;
$black: #000000;
$orange: #ec5632;
$orange-darker: #fe3f11;
$orange-darkest: #e9431b;
$turquoise: #22daa8;
// Text
$text-color: $white;

// Modal
$modal-title-color: $turquoise;
$modal-border-color: $turquoise;
$modal-background-color: $white;
$modal-button-color: $orange;
$modal-button-color-hover: $orange-darker;

//footer
$footer-font-color: $gray-darker;

//Pagination
$pagination-dot-color: $turquoise;
$pagination-background-color: $white;

/* -------------- */
/* --- Others --- */
/* -------------- */
$border-radius: 4px;

/* ------------------- */
/* --- Transitions --- */
/* ------------------- */
$transition-duration: 0.5s;
$transition-timing: ease;
$transition-property: all;
$transition: $transition-duration $transition-timing $transition-property;

/* ------------------- */
/* --- Breakpoints --- */
/* ------------------- */
// $bp_xxs: 480px !default;
// $bp_xs: 767px !default;
// $bp_sm: $bp_xs + 1 !default;
// $bp_md: 992px !default;
// $bp_lg: 1100px !default;

$mobile: 767px !default;
$tablet: 992px !default;
$desktop: 1100px !default;
